@keyframes panel_change_leave {
    0% {
        position: absolute;
        opacity: 1; transform: scale(1);

    }
    20%{
        margin-left: 500px;
        opacity: 0.2; transform: scale(0.8);
    }
    100%{
        position: absolute;
        opacity: 0; transform: scale(0);
    }
}

@keyframes panel_change_enter {
    0% {
        position: absolute;
        opacity: 0; transform: scale(0);
    }
    50%{
        opacity: 0.8; transform: scale(1);
    }
    100%{
        position: absolute;
        opacity: 1; transform: scale(1);
    }
}


@keyframes main_float {
    0%{
        position: relative;
        margin-top: 1rem;
    }
    50%{
        margin-top: 0;
        position: relative;
    }
    100%{
        margin-top: 1rem;
        position: relative;
    }
    
}