:root {
    --div_white:#ffffff;
    --bg_white:#fcfcfc;
    --button_color_blue:#5359fd;
    --font_black:#19191a;
    --font_gray:#8b8c8f;
    --box-shadow-blue:#edecfa;

    --a-normal-gray:#8b8c8f;

    --input-bgnormal-gray:#f7f7f9;
}