/*
Global color
全局颜色设定
*/
:root {
    --color-div_white:#ffffff;
    --color-bg_white:#fcfcfc;
    --color-button_color_blue:#5359fd;
    --color-font_black:#19191a;
    --color-font_gray:#8b8c8f;
    --color-box-shadow-blue:#edecfa;

    --color-a-normal-gray:#8b8c8f;

    --color-input-bgnormal-gray:#f7f7f9;
}

body{
    background: var(--color-bg_white);
}