/*
Global style
全局样式设定
    包括：面板大小
*/
:root{
    --area-Welcome-panel-width:30rem;
    --area-Welcome-panel-height-login:30rem;
    --area-Welcome-panel-height-register: 34rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.display_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
