:root{
    --fontSize-Welcome-panel-top:1.6rem;

    --fontSize-Main-panel-mainMessageTitle-Chinese:4.6rem;
    --fontSize-Main-panel-mainMessageTitle-English:1.6rem;
    --fontSize-spanMain-panel-messageTitle_explain:1.1rem;
}

*{
    font-family: 小米兰亭;
}
body{
    background: var(--color-bg_white);
}

.bold_font{
    font-weight: bold;
    font-size: 30px;
}
